<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <!-- Settings -->
  <category label="30000">
    <setting label="30002" type="action" action="RunPlugin(plugin://plugin.video.cricketaustralia/?action=open_ia_settings)" option="close"/>
  </category>
  <!-- Debugging -->
  <category label="30001">
    <setting label="30003" type="action" action="RunPlugin(plugin://plugin.video.cricketaustralia/?action=sendreport)"/>
  </category>
</settings>
